.tags-container {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  justify-content: flex-start;
  align-items: center;

  span {
    display: inline-block;
    color: white;
    background-color: #ff6060;
    font-size: 10px;
    font-weight: 700;
    padding: 4px 12px;
    text-align: center;
    border-radius: 5px;

    @media (min-width: 769px) and (max-width: 1440px) {
      font-size: 14px;
      border-radius: 10px;
      padding: 6px 24px;
    }
  }
}