@use '../../scss/variables' as *;

.apartment-card {
  position: relative;
  height: 255px;
  overflow: hidden;
  border-radius: $medium-radius;

  &__cover {
    width: $max-width;
    height: 100%;
    object-fit: cover;
    border-radius: $medium-radius;
    display: block;
  }

  a {
    display: block;
    text-decoration: none;
    color: inherit;
    height: 100%;
    width: $max-width;
    position: relative;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: $max-width;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.5) 7%, transparent);
    z-index: 1;
    border-radius: $medium-radius;
  }

  span {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    z-index: 2;
    color: $color-tertiary;
    font-size: 18px;
    font-weight: bold;
  }

  @media (min-width: 769px) and (max-width: 1440px) {
    height: 340px;

    &__cover {
      height: 340px;
      max-width: 340px;
    }

    span {
      text-align: left;
      text-overflow: ellipsis;
      white-space: normal;
      width: 69%;
    }
  }
}