@use '../scss/variables' as *;

.about {
  &__banner {
    width: $max-width;
    height: 111px;
    margin-bottom: 15px;
    filter: brightness(0.7);
    border-radius: $medium-radius;
    object-fit: cover;

    @media screen and (min-width: 769px) {
      min-height: 223px;
      border-radius: 25px;
      margin-bottom: 30px;
    }
  }

  &__collapse {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media screen and (min-width: 769px) {
      margin: 0 50px;
        gap: 15px;
      }
  }
}