@use '../scss/variables' as *;

.about {
  &__banner {
    width: $max-width;
    height: 111px;
    margin-bottom: 15px;
    filter: brightness(0.7);
    border-radius: $medium-radius;
    object-fit: cover;

    @media (min-width: 769px) and (max-width: 1440px) {
      min-height: 223px;
      border-radius: 25px;
      margin-bottom: 30px;
    }
  }
}