.apartment-host {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

@media screen and (min-width: 769px) {
  .apartment-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 15px 0;
  }

  .apartment-host {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 18px;
    margin-bottom: 0;
    padding-bottom: 25px;
  }

  .apartment-collapse {
    display: flex;
    gap: 100px;
  } 
}