.apartment-container {
  width: 100%;
  display: flex;
  background: #f6f6f6;
  justify-content: center;

  .apartment-list {
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }

  @media (min-width: 769px) and (max-width: 1440px) {
    border-radius: 25px;

    .apartment-list {
      justify-content: space-around;
      flex-direction: row;
      padding: 50px 0;
      gap: 45px 1px;
    }
  }
}