@use '../../scss/variables' as *;

.collapse-container {
  position: relative;
  margin-bottom: 13px;
  width: $max-width;
  
  &.collapsed.collapse__icon { 
    transform: rotate(0);

    .collapse__content {
      max-height: 0;
      padding: 0 8px;
    }
  }
  
  &.expand {
    .collapse__icon {
      transform: rotate(180deg);
    }

    .collapse__content {
      max-height: 500px;
      padding: 8px 8px 20px;
      border-radius: 0 0 $little-radius $little-radius;
    }
  }
}

.collapse__title {
  padding: 8px;
  background-color: $color-primary;
  color: $color-tertiary;
  border-radius: $little-radius;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  cursor: pointer;
  font-size: 13px;
}

.collapse__icon {
  color: $color-tertiary;
  transition: transform 150ms ease-in-out;
}

.collapse__content {
  background-color: $background-light;
  overflow: hidden;
  max-height: 0;
  margin-top: -5px;
  position: relative;
  z-index: -1;
  padding: 0 8px;
  border-radius: $little-radius;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  
  p, ul {
    display: block;
    margin: 1rem 0;
    padding: 0 0.5rem;
  }
}

@media (min-width: 769px) and (max-width: 1440px) {
  .collapse__title {
    font-size: 18px;
    border-radius: $medium-radius;
    margin-bottom: 5px;
  }

  .collapse__content {
    margin-top: -14px;
    border-radius: 0 0 $medium-radius $medium-radius;
    p, ul {
      padding-top: 18px;
      padding: 0 1rem;
      height: 100px;
    }
  }

  .collapse__icon {
    padding-right: 5px;
    font-size: 24px;
  }

  .collapse-container.expand .collapse__content {
    border-radius: 0 0 $medium-radius $medium-radius;
  }
}