@use '../../scss/variables' as *;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $max-width;

  &__logo-kasa {
    width: 145px;
    height: auto;

    @media (min-width: 769px) and (max-width: 1440px) {
      width: 210px;
    }
  }

  &__list {
    gap: 1rem;

    @media (min-width: 769px) and (max-width: 1440px) {
      gap: 3rem;
    }
  }

  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s ease;
    text-transform: uppercase;

    &:hover,
    &:active,
    &:visited {
      border-bottom: 1px solid black;
      color: black;
    }

    @media (min-width: 769px) and (max-width: 1440px) {
      font-size: 24px;
      text-transform: none;

      &:hover,
      &:active,
      &:visited {
        border-bottom: 2px solid black;
      }
    }
  }
}