.collapse-container {
  position: relative;
  margin-bottom: 13px;
  width: 100%;

  &.collapsed .collapse__icon {
    transform: rotate(0);
  }

  &.expand .collapse__icon {
    transform: rotate(180deg);
  }

  &.expand .collapse__content {
    animation: collapse 300ms forwards;
  }

  &.collapsed .collapse__content {
    animation: collapse 300ms reverse;
  }
}

.collapse__title {
  padding: 8px;
  background-color: #ff6060;
  color: white;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  margin: 0;
  cursor: pointer;
  font-size: 13px;
}

.collapse__icon {
  transition: transform 150ms ease-in-out;
}

.collapse__content {
  background-color: #FBFBFB;
  overflow: hidden;
  max-height: 0;
  margin: 0;
  padding: 0 8px;
  border-radius: 0 0 0.5rem 0.5rem;

  p, ul {
    margin: 0.5rem 0;
  }
}

@keyframes collapse {
  from {
    max-height: 0;
  }
  to {
    max-height: 999px;
  }
}