.info-container {
  margin: 15px 0;

  .info__title {
    color: #ff6060;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }

  .info__location {
    font-size: 14px;
    margin: 0;
    font-weight: 500;
  }
}